version: '2.1'

services:
  db:
    image: postgres:10.6
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: test
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: -c fsync=off -c full_page_writes=off
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 1s
      timeout: 1s
      retries: 60

  web:
    build:
      context: .
    environment:
      DB_NAME: test
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
    ports:
      - 8000:80
    volumes:
      - web_nginx:/var/www/html
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
  web_nginx:
